#first, #second, #third
{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
#first
{
  width: 34%;
  left: 0;
  background-color: #548eea;
}
#second
{
  left: 34%;
  background-color: #33ccc1;
  width: 33%;
}
#third
{
  width: 33%;
  right: 0;
  background-color: #b5e285;
}
#pictureOne
{
  /*min-width: 100%;
  min-height: 100%;*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*width: 100%;
  height: auto;*/
  max-width: 100%;
}
